.cart {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  background-color: #ffffff;
  height: 100vh;
}
.cart__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 385px;
  padding: 30px;
}
.cart__top {
}
.cart__title {
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.cart__products {
  padding-top: 30px;
  display: grid;
  gap: 20px;
}
.cart__bottom {
  display: grid;
  gap: 20px;
}

.cart__bottom-desc {
  display: flex;
  justify-content: space-between;
}

.cart__bottom-title {
  font-size: 16px;
  font-weight: 400;
}
.cart__bottom-price {
  font-size: 16px;
  font-weight: 600;
}

.cart__btn {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;

  padding: 18px 0;

  background: #9dd458;
  border-radius: 18px;

  transition: all 0.2s ease-in;

  &::after {
    content: "";

    position: absolute;
    right: 34px;
    top: 50%;
    transform: translateY(-50%);

    width: 16px;
    height: 13px;

    background-image: url("./arrow.svg");
    background-repeat: no-repeat;
  }
  &:hover {
    background-color: #ace06c;
  }
}

.cart__close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  img {
    width: 32px;
    height: 32px;
    transform: rotate(45deg);
  }
}

.cart__product {
  display: flex;
  align-items: center;
  gap: 21px;
  
  border: 1px solid #f3f3f3;
  padding: 20px;
  border-radius: 20px;
}
.card__img {
}

.card__product-text {
}

.card__product-title {
  font-size: 14px;
  font-weight: 400;
  max-width: 150px;
}
.card__product-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__product-price {
  font-size: 14px;
  font-weight: 700;
}
.card__product-delBtn {
  display: flex;
  align-items: center;
  border: 1px solid #dbdbdb;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: #d6d6d6;
  }
}
