.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.cart {
  position: absolute;
  width: 385px;
  z-index: 10;
  right: 0;
  top: 0;
  background-color: #ffffff;
  height: 100%;
}
.cart__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px;
  overflow: auto;
}

.cart__title {
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.cart__products {
  padding-top: 30px;
  display: grid;
  gap: 20px;
  margin-bottom: 40px;
}
.cart__bottom {
  display: grid;
  gap: 20px;
}

.cart__bottom-desc {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.cart__bottom-title {
  font-size: 16px;
  font-weight: 400;
}
.cart__bottom-price {
  font-size: 16px;
  font-weight: 600;
}

.cart__btn {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;

  padding: 18px 0;

  background: #9dd458;
  border-radius: 18px;

  transition: all 0.2s ease-in;

  &::after {
    content: "";

    position: absolute;
    right: 34px;
    top: 50%;
    transform: translateY(-50%);

    width: 16px;
    height: 13px;

    background-image: url("./arrow.svg");
    background-repeat: no-repeat;
  }
  &:hover {
    background-color: #ace06c;
  }
}

.cart__close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  img {
    width: 32px;
    height: 32px;
    transform: rotate(45deg);
  }
}

.cart__product {
  display: flex;
  align-items: center;
  gap: 21px;

  border: 1px solid #f3f3f3;
  padding: 20px;
  border-radius: 20px;
}

.card__product-title {
  font-size: 14px;
  font-weight: 400;
  max-width: 150px;
}
.card__product-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__product-price {
  font-size: 14px;
  font-weight: 700;
}
.card__product-delBtn {
  display: flex;
  align-items: center;
  border: 1px solid #dbdbdb;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: #d6d6d6;
  }
}

.cart__empty {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  .cart__btn {
    &::after {
      content: none;
    }
  }
}
.cart__empty-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cart__empty-img {
}
.cart__empty-title {
  padding-top: 21px;
  font-weight: 600;
  font-size: 22px;
}
.cart__empty-desc {
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.cart__empty-btn {
  margin-top: 40px;
  padding: 20px 40px 20px 43px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  &::before {
    content: "";

    position: absolute;
    left: 16px;

    top: 50%;
    transform: translateY(-50%);

    width: 14px;
    height: 14px;

    background-image: url("./empty-cart/arrow-left.svg");
    background-repeat: no-repeat;
  }
}

.cart__order {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  .cart__btn {
    &::after {
      content: none;
    }
  }
}
.cart__order-wrapper {
  display: grid;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.cart__order-img {
  width: 83px;
  height: 120px;
  margin: 0 auto;
}
.cart__order-title {
  font-size: 22px;
  font-weight: 600;
  color: #87c20a;
  padding-top: 30px;
}
.cart__order-desc {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  opacity: 0.4;
}

.cart__order-btn {
  margin-top: 40px;
  &::before {
    content: "";

    position: absolute;
    left: 40px;

    top: 50%;
    transform: translateY(-50%);

    width: 14px;
    height: 14px;

    background-image: url("./empty-cart/arrow-left.svg");
    background-repeat: no-repeat;
  }
}

.dotted-line {
  flex: 1;
  height: 1px;
  border-bottom: 1px dashed #dfdfdf;
  position: relative;
  top: -4px;
  margin: 0 7px;
}
