.card {
  position: relative;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  display: grid;
  gap: 14px;

  padding: 20px 30px 34px;

  transition: all 0.2s ease-in;

  &:hover {
    transform: translateY(-5px);
    -webkit-box-shadow: -1px 21px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 21px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 21px 8px 0px rgba(34, 60, 80, 0.2);
  }
}
.card__heart {
  position: absolute;
  left: 36px;
  top: 29px;

  display: flex;
  align-items: center;

  border: 1px solid #d1d1d1;
  border-radius: 7px;
  padding: 10px;
  transition: all 0.2s ease-in;

  path {
    stroke: #d1d1d1;
    transition: all 0.2s ease-in;
  }

  &:hover {
    background-color: #fef0f0;
    path {
      stroke: #ff8585;
    }
  }
}
.card__title {
  font-size: 14px;
  font-weight: 400;
}
.card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__price-title {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  color: #bdbdbd;
}
.card__price-price {
  font-size: 14px;
  font-weight: 700;
}
.card__add {
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  padding: 10px;

  display: flex;
  align-items: center;

  transition: all 0.2s ease-in;

  path {
    transition: all 0.2s ease-in;
  }

  &:hover {
    border-color: #7ce990;
    path {
      fill: #7ce990;
    }
  }
}

.card__heart--liked {
  background-color: #fef0f0;
  border-color: #ff8585;
  svg {
    fill: #ff8585;
  }
  path {
    stroke: #ff8585;
  }
}

.card__add--liked {
  background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
  height: 34px;
  border-color: #89f09c;
  svg {
    fill: #fff;
  }
}
